[Unit]
Description=Parse ~/.profile and import variables into systemd

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'eval $(grep -e "^export" $HOME/.profile | sed "s/export/systemctl --user set-environment/;s/$/; /")'
RemainAfterExit=yes

[Install]
WantedBy=default.target
