[Unit]
Description=print sys stats to an x root window name
After=dwm.service
Wants=dwm.service

[Service]
Type=simple
ExecStart=/bin/sh -c 'while xsetroot -name "$(mon)"; do sleep 2; done'

[Install]
WantedBy=default.target
