[Unit]
Description=Run `xset q` to check that connection to the server can be established.
Requires=import-profile.service
After=xserver.service import-profile.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c xrunning
RemainAfterExit=yes

[Install]
WantedBy=default.target
