[Unit]
Description=X server
Requires=xserver.socket

[Service]
ExecStartPre=systemctl --user set-environment DISPLAY=:1
ExecStart=/usr/bin/X :1 -nolisten tcp -verbose 2 -noreset vt1
SuccessExitStatus=0 1

[Install]
WantedBy=default.target
